


{% block title %}
    
{% endblock %}


{% block content %}

    <head>
        
    </head>


    <body>
        
        <img src="https://livestockanalytics.com/hs-fs/hubfs/Website/Logos%20e%20%C3%ADconos/livestock.png?width=115&height=70&name=livestock.png">


        <h1>Privacy Policy<h1>
        
        <p>
            <h2>For what purposes will use your personal data?</h2>

            The personal data we collect from you, use them to manage and operate the services contract with us as well as related activities; purposes that are necessary for the service requested and contracts with us.

            Additionally, use your personal information to establish statistical profiles of our customers and better understand their needs in the process of improving our services, we may collect information regarding your usage habits, schedules, IP address, information about errors and failures, computer configuration, browser type, browser language, dates and times you access our site. These purposes are not necessary for the requested service, but allow us to facilitate and provide better care.

            case you do not want your personal data to be processed for these purposes we ask you not to use our service. If you have questions about the information captured on our site, we ask you to send an email to hola@livestockanalytics.com from the email account that might have captured on our site asking to cancel data related to him. It is important to note that once sent this email, your data will be removed from our site and may not be recovered later. We also put at your disposal if you have questions about how we treat your personal data via our contact form.

            <h3>What we collect and use personal information about you?</h3>

            To carry out the purposes described in this Privacy Notice, we will use personal identification details, contact, location, labor, and in general any and all data you request the same site during the operation.

            What use sensitive personal data?

            In addition to the personal data mentioned above, for the purposes informed in this privacy notice we will use the following personal information regarded as sensitive, requiring special protection: data (if available) such as age, sex and interests of our users as well as demographic information and geo-statistics during your visit to our web site, and information about their usage habits of our site.

            <h4>Who we share your information and for what purposes?</h4>

            Please note that your personal data and information are not shared with any third party.



            <h3>How you can access, modify or cancel your personal data, or oppose its use?</h3>

            You have the right to know what personal data we hold about you, what we use and the conditions we use them (Access). It is also your right to request correction of your personal information if it is outdated, inaccurate or incomplete (Rectification); to remove it from our records or databases when it considers that it is not being used in accordance with the principles, duties and obligations under the regulations (Cancellation); and oppose the use of personal data for specific purposes (Opposition). These rights are known as ARCO rights.

            For the exercise of any of the ARCO rights, you must file an application via email to the address hola@livestockanalytics.com. By this means you will also know the procedure and requirements for the exercise of ARCO rights. Likewise, that will process the requests for the exercise of these rights and will address any questions you may have regarding the treatment of your information.

            <h3>How you can revoke your consent to the use of your personal data?</h3>

            You can revoke consent, if any, have given us for the processing of personal data. However, it is important to note that not all cases can accommodate your request or terminate the use immediately, since it is possible that for some legal obligation to keep trying we require your personal data. Also, you should consider that, for certain purposes, revocation of consent does not mean that we can continue to provide the service you requested, or the conclusion of their relationship with us.

            To revoke your consent must submit their respective application via email to the address info@tisconsulting.org. By this means you will also know the procedure and requirements for withdrawal of consent.

            <h4>How can you limit the use or disclosure of your personal information?</h4>

            So that you can limit the use and disclosure of your personal information, we offer the following means:

            Registration in the Public Registry to avoid publicity which is in charge of the Federal Consumer Protection, in order that their personal data are not used for advertising or promotion of goods or services companies. For more information on this record, you can consult the Internet portal PROFECO or direct contact with it.

            Similarly, in order that their personal data are not treated for marketers, advertising or commercial prospecting purposes by us; you can access the link at the bottom of any advertising communications via email received from us, in the section where the possibility of rescinding your contact for future communications indicated.

        </p>






        <p>
            <h1>Terms and Conditions</h1>
            Effective: March 10, 2023
            Please read these terms and conditions carefully before using Our Service.

            <h2>1.    Interpretation and Definitions<br>
                1.1.    Interpretation
            </h2>
            The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.

            <h3>1.2.    Definitions</h3>
            For the purposes of these Terms and Conditions:

            Affiliate means an entity that controls, is controlled by or is under common control with a party, where "control" means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.
            Account means a unique account created for You to access our Service or parts of our Service.
            Country refers to: Arizona, United States
            Company (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to Livestock Analytics Inc., 2128 S Paseo Loma, Mesa, AZ 85202, or any of its affiliates.
            Content refers to content such as text, images, or other information that can be posted, uploaded, linked to or otherwise made available by You, regardless of the form of that content.
            Device means any device that can access the Service such as a computer, a cellphone or a digital tablet.
            Feedback means feedback, innovations or suggestions sent by You regarding the attributes, performance or features of our Service.
            Free Trial refers to a limited period of time that may be free when purchasing a Subscription.
            Service refers to the Website.
            Subscriptions refer to the services or access to the Service offered on a subscription basis by the Company to You.
            Terms and Conditions (also referred as "Terms") mean these Terms and Conditions that form the entire agreement between You and the Company regarding the use of the Service.
            Third-party Social Media Service means any services or content (including data, information, products or services) provided by a third-party that may be displayed, included or made available by the Service.
            Website refers to Livestock Analytics, accessible from www.livestockanalytics.com
            You means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.

            <h2>2.    Acknowledgment</h2>
            These are the Terms and Conditions governing the use of this Service and the agreement that operates between You and the Company. These Terms and Conditions set out the rights and obligations of all users regarding the use of the Service.
            Your access to and use of the Service is conditioned on Your acceptance of and compliance with these Terms and Conditions. These Terms and Conditions apply to all visitors, users and others who access or use the Service.
            By accessing or using the Service You agree to be bound by these Terms and Conditions. If You disagree with any part of these Terms and Conditions then You may not access the Service.
            You represent that you are over the age of 18. The Company does not permit those under 18 to use the Service.
            Your access to and use of the Service is also conditioned on Your acceptance of and compliance with the Privacy Policy of the Company. Our Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your personal information when You use the Application or the Website and tells You about Your privacy rights and how the law protects You. Please read Our Privacy Policy carefully before using Our Service.

            

            <h3>3.    User Accounts </h3>
            When You create an account with Us, You must provide Us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of Your account on Our Service.
            You are responsible for safeguarding the password that You use to access the Service and for any activities or actions under Your password, whether Your password is with Our Service or a Third-Party Social Media Service.
            You agree not to disclose Your password to any third party. You must notify Us immediately upon becoming aware of any breach of security or unauthorized use of Your account.
            You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trademark that is subject to any rights of another person or entity other than You without appropriate authorization, or a name that is otherwise offensive, vulgar or obscene.

            <h4>4.    Content </h4>
            4.1.    Your Right to Post Content
            Our Service allows You to post Content. You are responsible for the Content that You post to the Service, including its legality, reliability, and appropriateness.
            By posting Content to the Service, You grant Us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Service. You retain any and all of Your rights to any Content You submit, post or display on or through the Service and You are responsible for protecting those rights. You agree that this license includes the right for Us to make Your Content available to other users of the Service, who may also use Your Content subject to these Terms.
            You represent and warrant that: (i) the Content is Yours (You own it) or You have the right to use it and grant Us the rights and license as provided in these Terms, and (ii) the posting of Your Content on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person.


            <h4>5.    Translation Interpretation </h4>
            These Terms and Conditions may have been translated if We have made them available to You on our Service. You agree that the original English text shall prevail in the case of a dispute.

            <h4>6.    Changes to These Terms and Conditions </h4>
            We reserve the right, at Our sole discretion, to modify or replace these Terms at any time. If a revision is material We will make reasonable efforts to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at Our sole discretion.
            By continuing to access or use Our Service after those revisions become effective, You agree to be bound by the revised terms. If You do not agree to the new terms, in whole or in part, please stop using the website and the Service.

            <h4>7.    Contact Us </h4>
            If you have any questions about these Terms and Conditions, You can contact us:
            • By email: andayi.ck@gmail.com
        </p>

    </body>
{% endblock %}


